/* Seamless Scrollbar Custom Styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1e293b; /* slate-800 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #334155; /* slate-700 */
}

/* Global scrollbar for convenience */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #0f172a; /* slate-900 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1e293b; /* slate-800 */
}
